[preamble.global]
embed_header = true
code = '''
#include "linux/kconfig.h"
#include "linux/compiler_types.h"
#include "asm/orc_header.h"
#include "linux/build-salt.h"
#include "linux/elfnote-lto.h"
#include "linux/export-internal.h"
#include "linux/module.h"
#include "linux/tty.h"
#include "linux/mm.h"
#include "linux/kbd_kern.h"
#include "linux/vt_kern.h"
#include "linux/selection.h"
#include "linux/console.h"
#include "linux/tty_flip.h"
'''

[preamble.local.pset]
code = '''
struct tiocl_selection selection = {
    .xs = 0,
    .ys = 0,
    .xe = 10,
    .ye = 10
};
struct tty_struct tty;
'''

[preamble.local.ppaste]
code = '''
struct tty_struct tty;
'''

[payload.set_sel]
code = '''
set_selection_user(&selection, &tty);
'''

[payload.paste_sel]
code = '''
paste_selection(&tty);
'''
