[preamble.global]
embed_header = true
code = '''
#include "linux/kconfig.h"
#include "linux/compiler_types.h"
#include "asm/orc_header.h"
#include "linux/build-salt.h"
#include "linux/elfnote-lto.h"
#include "linux/export-internal.h"
#include "linux/module.h"
#include "linux/kernel.h"
#include "linux/errno.h"
#include "linux/mm_types.h"
#include "linux/capability.h"
#include "linux/memory_hotplug.h"
#include "xen/xen.h"
#include "xen/balloon.h"
#include "xen/xenbus.h"
#include "xen/features.h"
#include "xen/page.h"
#include "xen/mem-reservation.h"

extern struct notifier_block *balloon_notifier;
extern struct xenbus_watch *balloon_watch;
'''

[payload.init_balloon]
code = '''
xen_balloon_init();
balloon_notifier->notifier_call(balloon_notifier, 0, NULL);
'''

[payload.watch_balloon]
code = '''
balloon_watch->callback(balloon_watch, "test1", "test2");
'''
